<div id="vertical-carousel-wrapper">
	<div class="vertical-carousel-element-container prev animated">
		<h1>{{prev.header}}</h1>
		<h3>{{prev.body}}</h3>
		<h4>{{prev.components}}</h4>
	</div>
	<div class="vertical-carousel-element-container current animated">
		<h1>{{current.header}}</h1>
		<h3>{{current.body}}</h3>
		<h4>{{prev.components}}</h4>
	</div>
	<div class="vertical-carousel-element-container next animated">
		<h1>{{next.header}}</h1>
		<h3>{{next.body}}</h3>
		<h4>{{prev.components}}</h4>
	</div>
</div>